RewriteEngine On


<Files *.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files *.ajax.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>


# exclude existing files and redirect everyting else
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]