{% extends "base.template.twig" %}

{% block title %}
<title>Něco se pokazilo</title>
{% endblock %}


{% block body %}
<div class="error">
    <h2>Něco se pokazilo. Zkuste to prosím znovu později.</h2>

    <a href="./">Zpět na úvodní stránku</a>
</div>
{% endblock %}