{% extends "base.template.twig" %}

{% block title %}
<title>Stránka nebyla nalezena</title>
{% endblock %}


{% block body %}
<div class="error">
    <h2>Stránka nebyla nalezena.</h2>

    <a href="./">Zpět na úvodní stránku</a>
</div>
{% endblock %}